<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org";>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>gmark - 爬虫 & markdown</title>
    <link th:href="@{../layui/css/layui.css}" rel="stylesheet"/>
    <link th:href="@{../css/gmark.css}" rel="stylesheet"/>

</head>
<body>
<div class="header">
    gmark
</div>
<form class="layui-form" id="gmark_form" action="/gmark/mark" method="post">
    <div class="layui-form-item" style="text-align:left">
        <div class="layui-inline">
            <label class="layui-form-label" style="width:100px">博客站点</label>
            <div class="layui-input-inline">
                <select name="website" id="website" required lay-verify="required">
                    <option value="">请选择博客站点</option>
                    <option value="csdn">CSDN</option>
                    <option value="vx">微信公众号</option>
                    <option value="cnblogs">博客园</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-inline">
                <label class="layui-form-label">图片名称</label>
                <div class="layui-input-inline">
                    <input type="tel" id="imageName" name="imageName" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:100px">博客地址</label>
        <div class="layui-input-block" style="margin-left:130px">
            <input type="text" name="blogUrl" id="blogUrl" required  lay-verify="required" placeholder="请输入博客地址" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:100px">图片保存地址</label>
        <div class="layui-input-block" style="margin-left:130px">
            <input type="text" name="imagePath" id="imagePath" placeholder="请输入图片保存地址" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="width:100px">文中图片地址</label>
        <div class="layui-input-block" style="margin-left:130px">
            <input type="text" name="imageUrl" id="imageUrl" placeholder="请输入图片保存地址" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="gmarkSubmit" id="getContent">采集内容</button>
            <button class="layui-btn" type="button" id="copyContent">复制内容</button>
        </div>
    </div>
</form>

<div class="layui-form-item layui-form-text"  style="width:80%;margin:10px auto;">
    <textarea id="markdownValue" placeholder="请输入内容" class="layui-textarea" style="height:600px"></textarea>
</div>
</body>
<script th:src="@{../js/jquery-2.1.4.min.js}"></script>
<script th:src="@{../layui/layui.js}"></script>
<script th:src="@{../js/gmark.js}"></script>
</html>